<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="tfwc.droid" android:installLocation="preferExternal" android:versionCode="3" android:versionName="1.0.2">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="25" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Taiwan Free WiFi &amp; Charging" android:icon="@drawable/Icon">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="" />
	</application>
</manifest>